In [1]:
import pandas as pd
import numpy as np

index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

data = np.array([[32. , 36.3, 38. , 36.7, 48. , 37.6],
                 [46. , 35.8, 50. , 36.9, 29. , 38.2],
                 [43. , 37.2, 42. , 37.6, 33. , 37.1],
                 [37. , 35.7, 44. , 37.6, 25. , 37.9]])

# create the DataFrame
df = pd.DataFrame(data, index=index, columns=columns)
df

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      32.0  36.3  38.0  36.7  48.0  37.6
     2      46.0  35.8  50.0  36.9  29.0  38.2
2014 1      43.0  37.2  42.0  37.6  33.0  37.1
     2      37.0  35.7  44.0  37.6  25.0  37.9

In [2]:
from ipydatagrid import DataGrid

In [3]:
grid = DataGrid(df, layout={'height':'140px'}, selection_mode="cell")
grid

DataGrid(default_renderer=TextRenderer(), header_renderer=None, layout=Layout(height='140px'))

In [15]:
import ipydatagrid as ipg
from ipydatagrid import Expr
import pandas as pd
import numpy as np

top_level = [
    "Value Factors",
    "Value Factors",
    "Momentum Factors",
    "Momentum Factors",
]
bottom_level = ["Factor A", "Factor B", "Factor C", "Factor D"]

nested_df = pd.DataFrame(
    np.random.randn(4, 4).round(2),
    columns=pd.MultiIndex.from_arrays([top_level, bottom_level]),
    index=pd.MultiIndex.from_product([['Sector 1', 'Sector 2'], ['X', 'Y']],
                                   names=['Sector', 'Stock']),
)


# Formatting Factor B rows based on their siblings in the Factor C column
def format_based_on_other_column(cell):
    return (
        "green"
        if cell.value > -0
        and cell.metadata.data["('Value Factors', 'Factor B')"] > 0.0
        else "yellow"
    )


nested_grid = ipg.DataGrid(
    nested_df,
    base_column_size=90,
    layout={"height": "140px"},
    default_renderer=ipg.TextRenderer(
        horizontal_alignment="right",
        background_color=Expr(format_based_on_other_column),
    ),
)

nested_grid

DataGrid(base_column_size=90, default_renderer=TextRenderer(background_color=Expr(value='(((cell.value > -0) &â€¦