In [1]:
import ipydatagrid as grid
import pandas as pd
import numpy as np

In [2]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['People'],['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['universe', 'subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

universe   People
subject       Bob       Guido         Sue
type           HR  Temp    HR  Temp    HR  Temp
year visit
2013 1       45.0  38.6  47.0  36.9  42.0  37.6
     2       42.0  37.1  40.0  36.9  35.0  39.1
2014 1       38.0  38.1  32.0  36.1  37.0  35.7
     2       41.0  40.5  42.0  36.4  53.0  37.7

In [58]:
# hierarchical indices and columns
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

# create the DataFrame
health_data = pd.DataFrame(data=[[1,2,3,4,5,6]], index=['Value'], columns=columns)
health_data

subject Bob      Guido      Sue
type     HR Temp    HR Temp  HR Temp
Value     1    2     3    4   5    6

In [3]:
g = grid.DataGrid(health_data, layout={"height":"160px"})
g

DataGrid(default_renderer=TextRenderer(), header_renderer=None, layout=Layout(height='160px'))

In [24]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = "A B C D E F".split()

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

               A     B     C     D     E     F
year visit
2013 1      29.0  37.3  46.0  36.0  33.0  36.1
     2      33.0  37.8  24.0  37.9  23.0  37.5
2014 1      34.0  38.7  32.0  36.3  56.0  38.1
     2      43.0  36.0  43.0  36.0  27.0  37.2

In [27]:
# g.generate_data_object(health_data, "ipydguuid")

In [29]:
simple_df = pd.DataFrame({"A":[1,2,3], "B":[4,5,6]}, index="a b c".split())
g2 = grid.DataGrid(simple_df, layout={"height":"120px"})
g2

DataGrid(default_renderer=TextRenderer(), header_renderer=None, layout=Layout(height='120px'))

In [6]:
g2.generate_data_object(simple_df, "ipydguuid")

{'data': [{'index': 'a', 'A': 1, 'B': 4, 'ipydguuid': 0},
  {'index': 'b', 'A': 2, 'B': 5, 'ipydguuid': 1},
  {'index': 'c', 'A': 3, 'B': 6, 'ipydguuid': 2}],
 'schema': {'fields': [{'name': 'index', 'type': 'string'},
   {'name': 'A', 'type': 'integer'},
   {'name': 'B', 'type': 'integer'},
   {'name': 'ipydguuid', 'type': 'integer'}],
  'primaryKey': ['index', 'ipydguuid'],
  'pandas_version': '0.20.0',
  'primaryKeyUuid': 'ipydguuid'},
 'fields': [{'index': None}, {'A': None}, {'B': None}, {'ipydguuid': None}]}